swagger: '2.0'
info:
  title: COFFEE-ROCKET-SERVICE
  description: A service that provides coffee bean rockets, bean planets, and other things the coffeeverse has to offer.
  version: '1.0'
  termsOfService: 'urn:tos'
  contact: {}
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
host: svenbayer.blog
schemes:
  - https
  - http
basePath: /coffee-rocket-service/v1.0
paths:
  /takeoff:
    post:
      x-ignore: false
      summary: Sends a coffee rocket to a bean planet and returns the bean planet.
      tags:
      - takeoff
      - coffee
      - bean
      - rocket
      description: API endpoint to send a coffee rocket to a bean planet and returns the bean planet.
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: coffeeRocket
          description: coffeeRocket
          required: true
          schema:
            $ref: '#/definitions/CoffeeRocket'
        - in: query
          name: withWormhole
          description: withWormhole
          required: true
          type: boolean
          x-example: false
        - in: query
          name: viaHyperLoop
          description: viaHyperLoop
          required: true
          type: boolean
          x-example: false
        - name: X-Request-ID
          in: header
          description: X-Request-ID
          required: false
          type: string
          x-example: "123456"
      responses:
        '201':
          description: Created
          headers:
            X-RateLimit-Limit:
              type: integer
              description: Request limit per hour.
          schema:
            $ref: '#/definitions/BeanPlanet'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /beans:
    get:
      summary: Gets coffee beans
      tags:
        - coffee
        - bean
      description: API endpoint to get all coffee beans
      produces:
        - application/json
      responses:
        200:
          description: The list of coffee beans
          schema:
            $ref: '#/definitions/BeanPlanetList'
definitions:
  Beanonaut:
    type: object
    properties:
      name:
        type: string
        default: "Beanon Beanusk"
      age:
        type: integer
        example: 47
    title: Beanonaut
  BeanItinerary:
    type: object
    properties:
      departure:
        type: string
        example: "Earth"
      destination:
        type: string
        x-example: "Mars"
    title: BeanItinerary
  CoffeeRocket:
    type: object
    properties:
      rocketName:
        type: string
        example: "BeanRocket Heavy"
      itinerary:
        $ref: '#/definitions/BeanItinerary'
      fuel:
        type: number
        format: double
        x-example: 980.3
      weight:
        type: number
        format: double
        default: 20.85
      beanonauts:
        type: array
        items:
          $ref: '#/definitions/Beanonaut'
    title: CoffeeRocket
  BeanPlanet:
    type: object
    properties:
      name:
        type: string
        example: "Mars"
      size:
        type: number
        format: int32
        example: 6779
      asteroids:
        type: array
        items:
          $ref: '#/definitions/BeanAsteroid'
    title: BeanPlanet
  BeanAsteroid:
    type: object
    properties:
      name:
        type: string
        default: "Phobos"
      speed:
        type: number
        format: int32
        example: 23
      shape:
        type: string
        enum:
          - 'ROUND'
          - 'SQUARE'
          - 'BEAN'
        default: 'BEAN'
    title: BeanAsteroids
  BeanPlanetList:
    type: array
    items:
      $ref: '#/definitions/BeanPlanet'